* {
  font-family: 'ZedMono Nerd Font', monospace;
  font-size: 14px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 2px solid #7aa2f7;
  border-radius: 8px;
  background-color: #1a1b26;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #1a1b26;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #1a1b26;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: #1a1b26;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: #c0caf5;
  background-color: #24283b;
}

#input image {
  border: none;
  color: #f7768e;
}

#input * {
  outline: 2px solid #7aa2f7 !important;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: #c0caf5;
}

#entry {
  background-color: #1a1b26;
}

#entry arrow {
  border: none;
  color: #7aa2f7;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid #7aa2f7;
  border-radius: 4px;
}

#entry:selected #text {
  color: #bb9af7;
}

#entry:drop(active) {
  background-color: #7aa2f7 !important;
}
